@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  line-height: 1.7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.pinimg.com/originals/48/bd/ae/48bdae117d32a076dc972d104cfe0992.jpg");
  /* background-image: url("https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc-1200-80.jpg.webp" ); */
  background-position: 'center';
  background-size: 'cover';
  background-repeat:'no-repeat';
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.empt{
  height: 93.5vh;
}
/* .imgod{
  margin-top:0%;
	position: relative;
	height: 80vh;
	background-color: rgb(177, 11, 11);
	 z-index: -1;   
  
}
.imgofday{
  position: absolute;
  right: 0px;
  top:0px;
  left:0px;
  bottom:0px; 
  height: 100%;
}
#textofday{
  padding-left: 1rem;
  padding-right:1rem;
  
  align-items: center;
  width: 100%;
  height: 30.5rem;
  background-color: rgba(0, 0, 0, 1);;
  color: #fff;
  
} */

.imgod {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
  color: #fff;
}
.imgod img {
  width: 50%;
  margin-right: 50px;
  margin-top: 10px;
  object-fit: contain;
  max-height: 80vh;
}
.imgod h1 { 
  color:#ac3ae6;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 11px;
  font-size: 50px;
}
.imgod .date {
  color:orange;
  margin-top: 0;
  margin-bottom: 30px;
}
.imgod.explanation {
  color: #bbb;
}
@media (max-width: 1280px) {
  .imgod {
    display: block;
  }
  .imgod img { 
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.navdiv{
  /* px-4 flex justify-between items-center w-full h-10 bg-gray-900 opacity-20 */
  padding-left: 1rem;
  padding-right:1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  z-index: 5;
  color: #fff;
  
}

#navdiv li{
    font-size: 15px;
}
 .link:hover{
  color: #ac3ae6;
}


.link {
  color: white;
}
.link-active {
  color: #ac3ae6;
  /* background: rgba(255, 255, 255); */
}

@media only screen and (min-width: 768px) {
  .middnav {
      display: none;
  }

}
@media only screen and (max-width: 769px) {
  .middnav ul{
    padding-top: 3rem;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
}